{% extends "base.html" %}
{% block content %}
<h1>
	<p>{{recipe.title}}
		{% set total_time = recipe.prep_time + recipe.cook_time %}
		{% if total_time < 20 %} ⚡ Quick {% elif total_time <=45 %} 🕐 Medium {% else %} ⏳ Slow {% endif %} ~
			{{total_time}} total minutes </p>
</h1>



<!-- <h1>Details for {{recipe.title}}: ~{{total_time}} minutes</h1> -->
<h3>Prep Time ~ {{recipe.prep_time}} minutes </h3>
{% if recipe.cook_time > 0 %}
<h3>Cook Time ~ {{recipe.cook_time}} minutes </h3>
{% endif %}
{% if recipe not in current_user.favorite_recipes %}
<a href="{{url_for('add_favorite', recipe_id=recipe.recipe_id)}}">Add to your favorites</a>
{% elif recipe in current_user.favorite_recipes %}
<a href="{{url_for('remove_favorite', recipe_id=recipe.recipe_id)}}">Remove from favorites</a>
{% endif %}
<ul>
	<li><strong>Description:</strong> {{recipe.description}} </li>
	<li><strong>Ingredients:</strong>
		<ul>
			{% for i in recipe.ingredients %}
			<li> {{i}} </li>
			{% endfor %}
		</ul>
	</li>
	<li>Instructions:
		<ul>
			{% for i in recipe.instructions %}
			<li> {{i}} </li>
			{% endfor %}
		</ul>
	</li>
	<li>Difficulty Level: {{recipe.difficulty}} </li>
	<li>Cuisine Type: {{recipe.cuisine}} </li>
	<li>Recipe Created On: {{recipe.created_date.strftime('%D')}} </li>
</ul>

<p><a href="{{url_for('index')}}">Back to All Recipes</a></p>
{% endblock %}